@font-face {
  font-family: Yanone Kaffeesatz;
  src: url('http://asset/kuz_Notifications/utils/Yanone.ttf');
}
html, body{
  margin:0 auto;
  overflow: hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}


.notificationsBox{
  position: absolute;
  height: 80%;
  width: 13%;
  margin-left: 87%;
  margin-top: 20%;
  /*display: block;*/
  flex-direction: row-reverse;
}
.notification{
  transform: translate(100%, 0px);
  transition-duration: 1s;
  margin-bottom: 0%;
  margin-top: 0%;
  /*position: relative;*/
  background: rgba(90,90,90,0.8);
  height: 0%;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 15px solid lightblue;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: table;
}


.notificationText{
  position: relative;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: rgba(255,255,255,0.9);
  font-size: 1.7vh;
  text-align: center;
  height: 90%;
  width: 90%;
  margin: 5%;
  display: table-cell;
  vertical-align: middle;
}

.pressNoti{
  position: absolute;
  height: 4%;
  width: 12%;
  left: 87%;
  top: 95%;
  right: 1%;
  bottom: 1%

  /*display: block;*/
  flex-direction: row-reverse;
  background-color: #262626;
  border: solid 1px #545454;
  border-radius: 4px;

  text-align: center;
  justify-content: center;
  align-content: center;
  display: table;
  -webkit-animation: colorchange 1.5s infinite;
}
@-webkit-keyframes colorchange
    {
      0%   {background: #262626;}
      50%  {background: #424242;}
      100% {background: #262626;}
    }


.progressBarsBox{
  opacity: 0.7;
  position: absolute;
  height: 25%;
  width: 30%;
  top: 3%;
  left: 35%;
  /*display: block;*/
  flex-direction: row-reverse;
  
}
.progressBar{
  position: relative;
  margin-bottom: 0%;
  margin-top: 1%;
  /*position: relative;*/
  height: 10%;
  width: 100%;
  background: #404040;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border: solid 1px #2e2e2e;
  border-radius: 1.2vh;
}
.progress{
  position: absolute;
  z-index: 4;
  float: left;
  clear: both;
}
.progressBar label{
  position: absolute;
  transform: translate(-50%, 25%);
  font-size: 2.1vh;
  color: white;
  z-index: 5;
  vertical-align: middle;
}
